body {
    width: 100%;
    height: auto;
    background-image: url("/assets/images/me.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#intro {
    margin-left: 10vw;
    margin-top: 10vw;
}


@media (max-width: 768px) {
    body {
        background-image: url("/assets/images/me_mobile.png");
    }
    #intro {
        margin-top: 40%;
    }
}